.header{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    height: 55px;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid ;
    border-bottom-color: rgb(225, 220, 220);
    z-index: 100;

}
.left-section{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.hamburger-menue{
    height: 24px;
    margin-right: 24px;
    margin-left: 24px;
}
.youtube-logo{
    height: 24px;
}
.middle-section{
    max-width: 600px;
    flex: 1;
    display: flex;
    align-items: center;
}
.search-bar{
    
    height: 36px;
    border-color: rgb(145, 140, 140);
    border-width: 1px;
    border-style: solid;
    height: 40px;
    flex: 1;
    font-size: 14px;
    font-family: Roboto, Arial;
    border-radius: 2px;
   margin-right: -1px;
   width: 0;
   box-shadow: inset 1px 2px 3px rgb(238, 238, 238);
}

.search-bar::placeholder{
    font-size: 18px;
    font-family: Roboto, Arial;
    color: black;
    padding-left: 12px;

}
.search-button{
    height: 44px;
    width: 70px;
    border-radius: -1px;
    border:1px gray solid;
   
    
}
.search-button,
.voice-search-button,
.upload-icon-container{
position: relative;
display: flex;
justify-content: center;
align-items: center;
}
.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip{
    background-color: gray;
    color: white;
    padding: 4px 8px 4px 8px;
    border-radius: 2px;
    position: absolute;
    bottom: -30px;
    font-family: Roboto, Arial;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip{
    opacity: 1;

}
.search-icon{
    height: 26px;
    align-items: center;
   
}
.voice-search-button{
    margin-left: 10px;
    height: 44px;
    width: 44px;
    border-radius: 30px;
    border: none;
    background-color: rgb(229, 229, 229);
}
.voice-search-icon{
    height: 20px;
}

.right-section{
    width: 200px;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}
.upload-icon{
    height: 24px;
}
.youtube-app-icon{
    height: 24px;
}
.notification-icon{
    height: 24px;
}
.notification-icon-container{
    position: relative;
}
.notification-count{
    position: absolute;
    top: -2px;
    right: -8px;
    background-color: rgba(152, 20, 20, 0.925);
    color: white;
    padding: 2px 6px 2px 6px;
    border-radius: 10px;
    font-size: 14px;
}
.user-profile-pic{
    height: 32px;
    border-radius: 16px;
}